* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

h1 {
    color: #f4f4f4
}

h2, h3 {
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

p {
    text-indent: 25px;
}

ul{
    padding-left: 25px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

.img{
    display: grid;
    height: 100%;
}

.center{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.intro {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery-item img {
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.code-example {
    background-color: #fff;
    padding: 100px;
    border-radius: 10px;
}

pre {
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}